model.json filter=lfs diff=lfs merge=lfs -text
data/html/*.html filter=lfs diff=lfs merge=lfs -text
data/index.json filter=lfs diff=lfs merge=lfs -text
data/config.json filter=lfs diff=lfs merge=lfs -text
data/pages/html/*.html filter=lfs diff=lfs merge=lfs -text
data/pages/index.json filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
